body{
    margin-top: 10%;
    margin-bottom: 30%;

}

img{
    margin-left: 50%;
    margin-right: 50%;
}

button{
    background-color: rgb(35, 35, 37);
    position: absolute;
    color: white;
    margin-left: 47%;
    border-radius: 20px;
}

.Nav ul li{
    display: inline-block;
    padding: 15px 30px;
}

.Nav ul li a{
    text-align: center;
    color: black;
    text-decoration: none;
}

.Nav ul li a:hover{
    color: red;
    transition: 0.5s;
}
